@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap');

/*
JetBrains Mono
https://fonts.google.com/specimen/JetBrains+Mono

Sawarabi Gothic
https://fonts.google.com/specimen/Sawarabi+Gothic

Sawarabi Mincho
https://fonts.google.com/specimen/Sawarabi+Mincho
*/
