.snsLink {
    @apply flex size-16 border rounded-full;

    border-color: var(--sns-link-color);  

    & > svg {
        @apply m-auto w-3/5 h-3/5;

        color: var(--sns-link-color);
    }

    &::before {
        content: attr(data-color);
    }
}
