name: Deploy static content to Pages

on:
  push:
    branches: ["main"]

  workflow_dispatch:

# Configurate permissions for the workflow
permissions:
  contents: read
  pages: write
  id-token: write

# Set concurrency to avoid multiple deployments at the same time
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v1
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: build
        run: bun install && bun run build-storybook
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # This is the directory where the static files are located after the build
          path: './docs'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
